.article-box {
  border: 1px solid lightgray;
  width: 30rem;
  height: 7rem;
  align-content: center;
  margin: auto;
}

.article-profile {
  background-color: gray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.article-title {
  text-align: left;
  color: black;
  font-size: 15px;
}

.article-byline {
  text-align: left;
  color: grey;
  font-size: 10px;
  text-transform: uppercase;
}

.cal-icon {
  margin-right: 4px;
}

.article-publish {
  color: gray;
}

.arrow {
  margin: auto;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
